// Reset template
.#{$class} {
	&:last-child {
		margin-bottom: 0;
	}

	// Paragraphs
	p {
		font-size: 1em;

		&:last-child {
			margin-bottom: 0;
		}
	}

	// Lists
	li {
		// Nested lists
		.#{$class} {
			margin-top: 0;
		}

		// BBCode lists
		p {
			margin-bottom: 0;
		}
	}
}

// Headings
%heading {
	line-height: 1em;
	font-weight: bold;
	color: currentColor;
	text-transform: none;
	margin: 1em 0 !important;
	padding: 0;
	border: none;
	float: none !important;

	&:first-child {
		margin-top: 0 !important;
	}

	&:last-child {
		margin-bottom: 0 !important;
	}
}

@for $i from 1 through 6 {
	h#{$i}.#{$class} {
		@extend %heading;

		// Reset heading font sizes
		// https://www.w3schools.com/cssref/css_default_values.asp
		@if ($i == 1) {
			font-size: 2em;
		} @else if ($i == 2) {
			font-size: 1.5em;
		} @else if ($i == 3) {
			font-size: 1.17em;
		} @else if ($i == 4) {
			font-size: 1em;
		} @else if ($i == 5) {
			font-size: .83em;
		} @else if ($i == 6) {
			font-size: .67em;
		}
	}
}

// Table
%table {
	margin-top: 1em;
	margin-bottom: 1em;

	&,
	th,
	td {
		border: 1px solid $table1;
	}

	tr:nth-child(2n) {
		background-color: $table2;
	}

	thead {
		background-color: $table1;
		color: $table3;
	}

	th,
	td {
		padding: 5px 10px;
	}
}

table {
	&.#{$class} {
		@extend %table;
	}
}
