@use '../abstracts/variables';

// Reset template
.#{variables.$class} {
	// Paragraphs
	@extend %paragraph-font-size;
	@extend %paragraph-margin-bottom-last-child;

	&:last-child {
		margin-bottom: 0;
	}

	// Lists
	li {
		// BBCode lists
		@extend %paragraph-margin-bottom;

		// Nested lists
		.#{variables.$class} {
			margin-top: 0;
		}
	}
}

// Headings
%heading {
	font-weight: bold;
	line-height: 1;
	text-transform: none;
	border: none;
	float: none !important;
	margin: 1em 0 !important;
	padding: 0;

	&:first-child {
		margin-top: 0 !important;
	}

	&:last-child {
		margin-bottom: 0 !important;
	}
}

@for $i from 1 through 6 {
	h#{$i}.#{variables.$class} {
		@extend %heading;

		// Reset heading font sizes
		// https://www.w3schools.com/cssref/css_default_values.asp
		@if $i == 1 {
			font-size: 2em;
		} @else if $i == 2 {
			font-size: 1.5em;
		} @else if $i == 3 {
			font-size: 1.17em;
		} @else if $i == 4 {
			font-size: 1em;
		} @else if $i == 5 {
			font-size: 0.83em;
		} @else if $i == 6 {
			font-size: 0.67em;
		}
	}
}

// Table
%table {
	margin-top: 1em;
	margin-bottom: 1em;

	&,
	th,
	td {
		border-width: 1px;
		border-style: solid;
	}

	th,
	td {
		padding: 5px 10px;
	}
}

table {
	&.#{variables.$class} {
		@extend %table;
	}
}

// Paragraphs
%paragraph-font-size {
	p {
		font-size: 1em;
	}
}

%paragraph-inline {
	p {
		display: inline-block;
	}
}

%paragraph-margin-bottom {
	p {
		margin-bottom: 0;
	}
}

%paragraph-margin-bottom-last-child {
	p:last-child {
		margin-bottom: 0;
	}
}
